<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">

        <!-- Meta description -->
        <meta content="Portfolio" name="description">
        <meta content="Richard Meuret" name="author">
        <meta content="portofolio Richard Meuret" name="keywords">

        <!-- META Twitter -->
        <meta content="Twitter" name="twitter:title">
        <meta content="compte twitter" name="twitter:description">
        <meta content="https://twitter.com/" name="twitter:url">
        <meta content="" name="twitter:image:src">

        <!-- META FACEBOOK -->
        <meta content="Facebook" property="og:Facebook">
        <meta content="page Facebook" property="og:type">
        <meta content="https://www.facebook.com/" property="og:url">
        <meta content="" property="og:image">

        <!-- META INSTAGRAM -->
        <meta content="Instagram" property="og:Instagram">
        <meta content="compte Instagram" property="og:type">
        <meta content="https://www.instagram.com/" property="og:url">
        <meta content="" property="og:image">

        <!--LIEN VERS CSS et FONTAWESOME-->
        <!-- add boostrap css -->
        <!--  not needed because included in scss -->
        <!--<link rel="stylesheet" href="build/scss/bootstrap.min.css"> -->
        <!-- custom css -->
        {{ encore_entry_link_tags('mainCss') }}
        {{ encore_entry_link_tags('backToTopButtonCss') }}
        <!-- for other particular css -->
        {% block css %}
        {% endblock %}        


        <!-- font was in ttf, we can find it in public/build/fonts -->
        <!-- <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" rel="stylesheet"> 
        -->

        <!-- FAVICON -->
        
        <!-- <link href="" rel="icon" type="image/png"/> -->
        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>
    <body>

        <!-- my burger  -->
        <div id="my-burger-btn-div">
            <div id="my-burger-btn">
                <div id="my-burger-bar"></div>
            </div> 
        </div>
        <div id="my-burger-navbar">
            {% block navbarContent %}
            <div class="my-burger-navbar-item">
                <a href="#home">Accueil<span class="my-underline"></span></a>
            </div>
            <div class="my-burger-navbar-item">
                <a href="#about">À propos<span class="my-underline"></span></a>
            </div>
            <div class="my-burger-navbar-item">
                <a href="#projects">Projets<span class="my-underline"></span></a>
            </div>
            <div class="my-burger-navbar-item">
                <a href="#contact">Contact<span class="my-underline"></span></a>
            </div>

            <!--  <hr>  -->
            <!-- customizable options buttons -->
            <!-- main color -->
<!--             <div>
                   <input type="color" name="mainColorPicker" id="main-color-picker_input">
                    <label for="mainColorPicker">  <input type="color" name="mainColorPicker" id="main-color-picker_input" >Modif le couleur</label>
            </div> 
-->
<!--            <hr>
            <div class="my-burger-navbar-item">
                <a href="{{ path('app_login')}}">Connexion<span class="my-underline"></span></a>
            </div>
-->
            {% endblock %}
        </div>
        

        <!-- scroll to top button -->
        <button id="backToTopButton" title="Haut de page"><span>^</span></button>




        {% block body %}
        {% endblock %}
        
        
        <!-- Scripts -->
        {{ encore_entry_script_tags('mainJs') }}
        {{ encore_entry_script_tags('myBurgerJs') }}
        {{ encore_entry_script_tags('backToTopButtonJS') }}

        {% block script %}
        {% endblock %}
    </body>
</html>
